@import '../../node_modules/vuetify/src/stylus/main'

html {
  overflow-y: auto
}

.title {
  width: 200px;
}

.project-logo {
  height: 40px;
  margin: 4px;
}

.logWarning {
  background-color: #fdd0a4
}

.logWarning:hover {
  background-color: #e29d58 !important
}

.logError {
  background-color: #b71c1c75
}

.logError:hover {
  background-color: #da121296 !important
}

.unavailable {
  color: #ff3232 !important
}

.available {
  color: #00e500 !important
}

.progress-circular {
  position: absolute
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.snack__content {
  height: 64px !important
}

.organisationForm {
  padding: 18px;

  .flex {
    padding: 0px 5px;
  }
}

.configurationForm {
  padding: 18px;

  .flex {
    padding: 0px 5px;
  }
}

.schemaFileUploadPopup {
  padding: 18px;

  .flex {
    padding: 0px 5px;
  }
}
